@import "../assets/mixins";
@import "../assets/variables";

.activityLevels {
  animation: fadeInAnimation ease 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #fff;
  box-sizing: border-box;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h2 {
    background-color: $primary;
    color: #fff;
    font-weight: 500;
    width: 100%;
    @include firstBreakPoint {
      padding: 0 1rem;
    }
  }

  .activityInfo {
    @include firstBreakPoint {
      padding: 1rem 1rem;
    }

    & > * {
      margin-bottom: 1rem;
    }

    p {
      font-weight: 500;
    }

    .activityLabel {
      color: $primary;
      font-size: 1rem;
      font-weight: 600;
      display: block;
    }
  }
}
