@import "../assets/mixins";
@import "../assets/variables";

.calorieResults {
  position: absolute;
  top: 0;
  width: 100%;
  left: -500px;

  transition: 350ms;
  background-color: #fff;
}
.active {
  left: 0;
  transition: 350ms;

  // border: 1px solid grey;
}
