@import "../assets/mixins";
@import "../assets/variables";

.calorieForm {
  animation: fadeInAnimation ease 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .formControl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;

    p {
      margin-bottom: 0.5rem;
      background-color: $primary;
      color: #fff;
      font-weight: 500;
      margin-right: 0;
      width: 100%;
      @include firstBreakPoint {
        padding: 0 1rem;
      }
    }

    input {
      margin-right: 0.25rem;
      font-size: 1rem;
      @include mobile {
        width: 6rem;
      }
    }

    label {
      font-size: 1rem;
      margin-right: 0.75rem;
      font-weight: 500;
    }

    select {
      font-size: 1rem;
      display: inline;
    }

    &__top {
      margin-bottom: 0.8rem;
    }

    &__bottom {
      margin-bottom: 0.8rem;
      @include firstBreakPoint {
        padding: 0 1rem;
      }
    }

    .sexSelect {
      width: 120px;
    }

    .activitySelect {
      width: 200px;
    }

    .formSubtitle {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      background-color: $primary;
      color: #fff;
      @include firstBreakPoint {
        padding: 0 1rem;
      }
    }

    .activityLevel {
      font-size: 1rem;
      display: inline;
      margin-bottom: 0.5rem;
      background-color: $primary;
      color: #fff;
      @include firstBreakPoint {
        padding: 0 1rem;
      }

      button {
        margin-left: 0.5rem;
      }
    }
  }

  .formInputs {
    @include firstBreakPoint {
      padding: 0 1rem;
    }
  }
}
