@import "../assets/mixins";
@import "../assets/variables";

.calorieForm {
  animation: fadeInAnimation ease 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .formControl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;

    p {
      margin-bottom: 0.5rem;
      background-color: $primary;
      color: #fff;
      font-weight: 500;
      margin-right: 0;
      width: 100%;
      @include firstBreakPoint {
        padding: 0 1rem;
      }
    }

    input {
      border: none;
      margin-right: 0.5rem;
      font-size: 1rem;
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px $primary;
      }
      @include mobile {
        width: 6rem;
      }
    }

    label {
      font-size: 1rem;
      margin-right: 0.75rem;
      font-weight: 500;
    }

    select {
      font-size: 1rem;
      display: inline;
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
      border: 0;
      position: relative;
      cursor: pointer;
      appearance: none;
      padding-right: 1.5rem;
      background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px $primary;
      }
    }

    option {
      color: #fff;
      background-color: $primary;
      cursor: pointer;
      border: 1px solid $primary;

      &::hover {
        cursor: pointer;
      }
    }

    .option {
      color: #fff;
      background-color: $primary;
    }

    .select {
      font-size: 1rem;
      display: inline;
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
      border: 0;
      position: relative;

      &::after {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        right: 3%;
        content: "";
        display: block;
        background-color: $primary;
        height: 0.7rem;
        width: 0.7rem;
        pointer-events: none;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }
    }

    &__top {
      margin-bottom: 0.8rem;
    }

    &__bottom {
      margin-bottom: 0.8rem;
      @include firstBreakPoint {
        padding: 0 1rem;
      }
    }

    .sexSelect {
      width: 120px;
    }

    .activitySelect {
      width: 200px;
    }

    .formSubtitle {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      background-color: $primary;
      color: #fff;
      width: 100%;
      @include firstBreakPoint {
        padding: 0 1rem;
      }
    }

    .activityLevel {
      font-size: 1rem;
      display: inline;
      margin-bottom: 0.5rem;
      background-color: $primary;
      color: #fff;
      width: 100%;
      @include firstBreakPoint {
        padding: 0 1rem;
      }

      button {
        margin-left: 0.5rem;
      }
    }
  }

  .formInputs {
    @include firstBreakPoint {
      padding: 0 1rem;
    }
  }

  .activityButton {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.4);
    }
  }
}
